*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    min-width: 343px;
}
.header-title{
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    color: #13183F;
}
.header-btn{
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #13183F;
    border-radius: 28px;
    cursor: pointer;
    border: none;
}
.header-btn:active, .header-btn:hover{
    background: #666CA3;
}
/*******SECTION INTRO************/

.intro-content{
    margin-top: 22px;
}
.intro-title{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    margin: 16px 16px 28px 16px;
}
.intro-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin: 16px 16px 24px 16px;
}
.intro-btn{
    width: 167px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    margin: 16px;
}
.intro-btn:hover{
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.hero__img {
    max-width: 370px;
    margin-top: 28px;
    align-self: center;
  }
.intro-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/********* COURSE CARD SECTION ****************/
.check-out{
    
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    padding: 24px 29px 32px 28px;
    margin: 66px 16px 40px 16px; 
}

.course-card{
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 16px 40px 16px;
    padding: 56px 29px 32px 28px;
    position: relative;
}
.course-card-logo{
    width: 56px;
    height: 56px;
    position: absolute;
    top: -10%;
    left: 10%;
}
.course-card--title{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-bottom: 16px;
}
.course-card--text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;
}
.course-card--link{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    text-decoration: none;
}
/******* FOOTER ********/
.footer{
    background-color: #13183F;
    height: 120px;
    margin-top: 64px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 16px;
    width: 100%;
}
.footer-title{
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}
.footer-btn{
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;   
}
.footer-btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
/* MEDIA */
@media (min-width: 689px){
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .header{
        width: 100%;
    }
    .header-title{
        margin-left: 20px;
    }
    .section-intro{
        position: relative;
        overflow: visible;
    }
    .header-btn{
        margin-right: 55px;
    }
    
    .intro-content{
        width: 398px;
        height: 284px;
        margin-top: 99px;
        margin-bottom: 186px;
    }
    .intro-img{
        min-width: 640px;
        height: 640px;
        margin-top: 0;
        position: absolute;
        left: calc(53% - 15px);
        bottom: 10px;
        top: -80%;
        z-index: -1;
    }
   .course-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 11px;
    row-gap: 56px;
    margin-left: 39px;
    margin-right: 40px;
   }
   .check-out{
    margin: 0;
    padding: 56px 21px 139px 32px;
   }
   .course-card{
    padding: 56px 22px 32px 32px;
    margin: 0;
   }
   .footer-content{
    padding: 36px 39px;
   }
   
    .footer{
    width: 100%;
   }
}

@media (min-width: 1110px){
    .header{
        max-width: 1110px;
        margin: 24px auto;
    }
    .course-cards{
        max-width: 1110px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        margin: 0 auto;
    }
    .course-cards-section{
        margin-bottom: 140px;
    }
    .intro-content-box{
        max-width: 1110px;
        display: grid;
        margin: 0 auto;
    }
    .intro-content{
        width: 457px;
        height: 359px;
        justify-content: center;
        
    }
    .intro-img{
        min-width: 870px;
        height: 938px;
        top: -50%;
    }
}


@media (min-width: 1200px){
    .intro-img {
        left: calc(50% + 90px);
    }
      .header-btn{
        margin-right: 55px;
      }
      .footer-content{
        padding: 32px 165px;
      }
    }
@media (min-width: 1800px){
    .intro-img {
        left: calc(55% + 90px);
    }
}


